<div class="cookbook-view">
    <div class="panel-group" id="">
        {{#each categories}}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{this.name}}">
                            {{this.name}} ({{this.recipesData.length}})</a>
                    </h4>
                </div>
                <div id="collapse{{this.name}}" class="panel-collapse collapse">
                    {{> recipesGridView}}
                </div>
            </div>
        {{/each}}
    </div>
</div>

<script>
    $(document).ready(function(){
        let firstResult = $('.cookbook-view .panel-collapse')[0];
        if(firstResult){
            $(firstResult).addClass(' in');
        }
    })
</script>