.top-images-field{
    text-align: center;
}
.top-image-recipe{
    display: inline-block;
}
.btn-box{
    vertical-align: middle;
}
.remove-button{
    display: none;
}
.ingredient-hover:hover .remove-button{
    display: block;
}
.bar-quickStats {
    border-radius: 3px;
    border: 1px dashed #bbb;
    vertical-align: baseline;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-top: 3px;
}
.field-quickStats{
    color: #333;
    display: inline-block;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    padding-top: 2px;
    width: 25%;
}
.iconStats{
    display: inline-block;
    height: 25px;
    width: 25px;
}
.title-recipie{
    margin-top: 0px;
}
.table-sideline{
    width: 100%;
}
.centeredText{
    text-align: center;
}
.recipe-grid-image{
    width: 200px;
    height: 200px;
}