<div class="btn-group categories-navbar" role="group">
    {{#each categories}}
        <a href="/category/{{ this.id }}"  class="btn btn-success">
            {{ this.name }} ({{this.recipes.length }})
        </a>
    {{/each}}
</div>
<br><br>
<ol class="breadcrumb">
    <li>
        <a href="#">Most Recent</a>
    </li>
</ol>
{{> recipesGridView}}