<div class="col-md-9">
    <div class="well">
        <form class="form-horizontal" method="POST" action="/recipe/create">
            <fieldset>
                <legend>New Recipe</legend>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="recipeTitle">Recipe Title</label>

                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="recipeTitle" placeholder="Recipe Title"
                               name="title" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="recipeContent">Content</label>
                    <div class="col-sm-6">
                        <textarea class="form-control" id="recipeContent" rows="5" name="content" required></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="recipeIngredients">Ingredients</label>
                    <div class="col-sm-6">
                        <div class="row">
                            <label class="col-sm-3 control-label" for="recipeIngredientQnty">Quantity</label>
                            <label class="col-sm-3 control-label" for="recipeIngredientName">Name</label>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <textarea class="form-control" id="recipeIngredientQnty" rows="1" name="ingredients[0][&quot;quantity&quot;]" required></textarea>
                            </div>
                            <div class="col-sm-5">
                                <textarea class="form-control" id="recipeIngredientName" rows="1" name="ingredients[0][&quot;name&quot;]" required></textarea>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary btn-sm">Add +</button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="recipeDirections">Directions</label>
                    <div class="col-sm-6">
                        <textarea class="form-control" id="recipeDirections" rows="5" name="directions" required></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="recipePrepTime">Preparation time</label>
                    <div class="col-sm-6">
                        <input type="number" name="prepTime" min="1" max="200" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="recipeCookTime">Cooking time</label>
                    <div class="col-sm-6">
                        <input type="number" name="cookTime" min="1" max="200" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label"
                           for="category">Category</label>
                    <div class="col-sm-6">
                        <select class="form-control" id="select" name="category">
                            {{#each categories}}
                                <option
                                        value="{{this.id}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <button type="reset" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
