<div class="col-md-9">
    <div class="well">
        <form class="form-horizontal" method="POST" action="/recipe/create">
            <fieldset>
                <legend>New Recipe</legend>
                <form id        =  "uploadForm"
                      enctype   =  "multipart/form-data"
                      action    =  "/recipe/upload_photo/{{recipe.id}}"
                      method    =  "post"
                >
                    <input type="text" id="recipePhotoName" name="recipePhotoName" hidden/>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="uploadPicture">Upload Pictures</label>
                        <div class="col-sm-4 ">
                            <input type="file" name="recipePhoto" id="upload"/>
                            <br>
                            <input type="submit" value="Upload Image" name="submit" class="btn btn-success">
                        </div>
                    </div>
                </form>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="recipeTitle">Recipe Title</label>

                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="recipeTitle" placeholder="Recipe Title"
                               name="title" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="recipeContent">Content</label>
                    <div class="col-sm-6">
                        <textarea class="form-control" id="recipeContent" rows="5" name="content" required></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="recipeIngredients">Ingredients</label>
                    <div class="col-sm-7">
                        <div class="row">
                            <label class="col-sm-3 control-label" for="recipeIngredientQnty">Quantity</label>
                            <label class="col-sm-3 control-label" for="recipeIngredientName">Measure</label>
                            <label class="col-sm-3 control-label" for="recipeIngredientName">Name</label>
                        </div>
                        <div class="row" id="ingredient-0">
                            <div class="col-sm-3">
                                <textarea class="form-control" id="recipeIngQnty" rows="1" name="ingredients[0][quantity]" required></textarea>
                            </div>
                            <div class="col-sm-3">
                                <textarea class="form-control" id="recipeIngMeasure" rows="1" name="ingredients[0][measure]" required></textarea>
                            </div>
                            <div class="col-sm-4">
                                <textarea class="form-control" id="recipeIngName" rows="1" name="ingredients[0][name]" required></textarea>
                            </div>
                        </div>
                        <button id="btnAddIng" type="button" class="btn btn-primary btn-sm" lineCount="0">Add +</button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="recipeNutrition">Nutrition</label>
                    <div class="col-sm-7">
                        <div class="row">
                            <label class="col-sm-3 control-label" for="recipeFats">Fats</label>
                            <label class="col-sm-3 control-label" for="recipeCarbs">Carbohydrates</label>
                            <label class="col-sm-3 control-label" for="recipeProteins">Proteins</label>
                        </div>
                            <div class="col-sm-3">
                                <textarea class="form-control" id="recipeFats" rows="1" name="nutrition[fats]" required></textarea>
                            </div>
                            <div class="col-sm-3">
                                <textarea class="form-control" id="recipeNutritionCarbs" rows="1" name="nutrition[carbs]" required></textarea>
                            </div>
                            <div class="col-sm-4">
                                <textarea class="form-control" id="recipeNutritionProteins" rows="1" name="nutrition[proteins]" required></textarea>
                            </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="recipeDirections">Directions</label>
                    <div class="col-sm-6">
                        <textarea class="form-control" id="recipeDirections" rows="5" name="directions" required></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="recipePrepTime">Preparation time</label>
                    <div class="col-sm-6">
                        <input type="number" name="prepTime" min="1" max="200" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="recipeCookTime">Cooking time</label>
                    <div class="col-sm-6">
                        <input type="number" name="cookTime" min="1" max="200" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label"
                           for="category">Category</label>
                    <div class="col-sm-6">
                        <select class="form-control" id="select" name="category">
                            {{#each categories}}
                                <option
                                        value="{{this.id}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <button type="reset" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<script>
    $(document).ready(function(){
        $("#btnAddIng").click(function(){
            var lineCount = $(this).attr('lineCount');
            lineCount++;

            $("#btnAddIng").before(
                    "<div class='row' id='ingredient-" + lineCount + "'>" +
                    "<div class='col-sm-3'> " +
                    "<textarea class='form-control' rows='1' name='ingredients["+ lineCount +"][quantity]' required></textarea>" +
                    "</div>" +
                    "<div class='col-sm-3'> " +
                    "<textarea class='form-control' rows='1' name='ingredients["+ lineCount +"][measure]' required></textarea>" +
                    "</div>" +
                    "<div class='col-sm-4'>" +
                    "<textarea class='form-control' rows='1' name='ingredients["+ lineCount +"][name]' required></textarea>" +
                    "</div>" +
                    "</div>");

            $(this).attr('lineCount', lineCount);
        });
    });
</script><!--Add Ing-->
<script>
    $('#upload').change(function() {
        var filename = $(this).val();
        var lastIndex = filename.lastIndexOf("\\");
        if (lastIndex >= 0) {
            filename = filename.substring(lastIndex + 1);
        }
        $('#recipePhotoName').val(filename);
    });
</script>